/* Body Styling */

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
}

h5 {
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
    color: white;
}

h2 {
    color: #444;
}

/* Navbar Styling */

.navbar {
    background: linear-gradient(45deg, rgba(50, 91, 202, 0.7), rgba(56, 91, 155, 0.7))}


/* Header Styling */

header h2 {
    color: #fff;
}

.header-content {
    padding: 50px 0px;
    min-height: 200px
}

.jumbotron-fluid {
    display: block;
    position: relative;
    height: auto;
    text-align: center;
}

.jumbotron-fluid:after {
    content: "";
    background: linear-gradient(45deg, rgba(50, 91, 202, 0.9), rgba(34, 180, 124, 0.4)), url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=80");
    background-position: center;
    object-fit: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Home Page Content Styling */

.row-content {
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px
}

.row-content-2 {
    padding: 50px 0px;
    min-height: 200px
}

.h2-container {
    border-left: 1px ridge;
    border-right: 1px ridge;
    padding: 1rem;
    margin: 0 auto;
}

.background-light {
    background: #f8f9fa;
}


/* About Up Content Styling */

.mission-photo {
    width: 100%;
    height: auto;
    max-height: 254px;
}

/* Search Page Content Styling */

.search-form {
    margin: 2rem auto;
}



/* Footer Styling */

footer a {
    color: white;
}

footer {
    display: block;
    position: relative;
    height: auto;
    
}

.fab {
    font-size: 2rem;
}

footer:after {
    content: "";
    background: linear-gradient(45deg, rgba(50, 91, 202, 0.9), rgba(34, 180, 124, 0.4)), url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=80");
    background-position: bottom;
    object-fit: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
        text-align: left;
    }
    .jumbotron-fluid {
        text-align: left;
    }
    .h2-container {
        height: 200px;
        text-align: center;
        padding: 1rem;
        background: #f8f9fa;
        background-position: center;
    }
    .h2-container h2 {
        color: #444;
    }
    .row-content, .row-content-2 {
        padding: 0;
    }
    .background-light {
        background: #fff;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}