/* Body Styling */

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
}

h5 {
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
    color: white;
}

h2 {
    color: #444;
}

/* Navbar Styling */

.navbar {
    background: linear-gradient(45deg, rgba(50, 91, 202, 0.7), rgba(56, 91, 155, 0.7))}


/* Header Styling */

header h2 {
    color: #fff;
}

.header-content {
    padding: 50px 0px;
    min-height: 200px
}

.jumbotron-fluid {
    display: block;
    position: relative;
    height: auto;
    text-align: center;
}

.jumbotron-fluid:after {
    content: "";
    background: linear-gradient(45deg, rgba(50, 91, 202, 0.9), rgba(34, 180, 124, 0.4)), url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=80");
    background-position: center;
    object-fit: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Home Page Content Styling */

.row-content {
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px
}

.row-content-2 {
    padding: 50px 0px;
    min-height: 200px
}

.h2-container {
    border-left: 1px ridge;
    border-right: 1px ridge;
    padding: 1rem;
    margin: 0 auto;
}

.background-light {
    background: #f8f9fa;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel img {
    margin: 0 auto;
}

.carousel {
    margin: 2rem auto;
    border: solid rgba(50, 91, 202, 0.9) 2px;
}

.carousel-item img {
    width: 100%;
    height: auto;
  }


/* About Up Content Styling */

.mission-photo {
    width: 100%;
    height: auto;
    max-height: 254px;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.card {
    margin-top: 2rem;
}

.nav-link {
    color: rgb(33, 37, 41);
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 2rem;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 1.3rem;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote p {
    margin: 0rem 1.9rem;
}

/* Search Page Content Styling */

.search-form {
    margin: 2rem auto;
}

/* Contact Page Content Styling */

.btn-link {
    color: black;
}

.contact-info a {
    margin: 0rem;
    padding: 0px;
}

.contact-info {
    margin-bottom: 1rem;
}

/* Footer Styling */

footer a {
    color: white;
}

.icon, .icon a {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

footer {
    display: block;
    position: relative;
    height: auto;
    
}

.fab {
    font-size: 2rem;
}

footer:after {
    content: "";
    background: linear-gradient(45deg, rgba(50, 91, 202, 0.9), rgba(34, 180, 124, 0.4)), url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=80");
    background-position: bottom;
    object-fit: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
        text-align: left;
    }
    .jumbotron-fluid {
        text-align: left;
    }
    .h2-container {
        height: 200px;
        text-align: center;
        padding: 1rem;
        background: #f8f9fa;
        background-position: center;
    }
    .h2-container h2 {
        color: #444;
    }
    .row-content, .row-content-2 {
        padding: 0;
    }
    .background-light {
        background: #fff;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}